

  h1{
  float:inherit;
  color: #0096B2;
  padding: 40px;
  text-align: left;
  font-size: 40px;
  font-weight: bolder;
  }
body{
  background-image:url(backgroun.jpg);
  background-size:cover;
  padding: 1vh;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 1vh;
	color: #555;

}
  h2{
text-align: center;
padding: 40px;
font-size: 20px;
color: black;
  }


.Login{

float:right;
padding: inherit;
color: black;
}
/* SITE SEARCH */
.site-search {
	grid-area: site-search;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.site-user {
	grid-area: site-user;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.user-login {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}


/* primary site nav */
.site-nav {
	grid-area: nav-primary;
	/*border: 1px solid #0096B2;*/
}

/* GRID - BANNER EXTRAS */
.banner-extras {
	grid-area: banner-extras;
	display: grid;
	grid-template-areas:
		"site-search site-user";
	grid-template-columns: minmax(200px, auto) minmax(100px, max-content);
}

.banner-extras h4 {
	font-size: 1rem;
	display: flex;
	justify-content: center;
}



/*Search Button*/
.searchbutton{
  color: black;
  text-align: center;
  text-decoration:underline;
  display: inline-flex;
  width: 100%;
  font-size: 20px;
  padding: 10px 24px;
  float: center;
  padding:60px;

}
/*Dropdown Boxes*/
.site-nav{
display:flex;
flex-direction:row;
justify-content: space-around;
padding: 60px;
}

/*
* INPUT - various input field and usage
*/

/* general input  */
.submit-button {
	padding: 5px;
	border: 1px solid #137fa6;
	background-color: #137fa6;
	color: #fff;
}

.submit-button:hover {
	background-color: #b97454;
	border: 1px solid #b97454;
	color: #fff;
	cursor: pointer;
}

/* search input */
input[name="search_query"] {
	border: 1px solid #137fa6;
	width: 180px;
	padding: 5px;
	outline: none;
	color: #444;
}

/* search submit */
input[name="search_submit"] {
	width: 60px;
	margin: 0 5px;
	outline: none;
}

/* USER - login, register */
input[name="user_login"], input[name="user_register"] {
  width: 70px;
	margin: 5px 0;
	outline:none;
}

/* GRID - BANNER container */
.banner {
	grid-area: banner;
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"site-header banner-extras";
	grid-template-columns: 1fr auto;
	grid-template-rows: auto;
	padding: 10px;
	border: 1px solid #0096B2;
}

/* GRID - WRAPPER container */
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: auto auto 1fr;
	grid-template-areas:
		"banner"
		"nav-primary"
		"main";
	height: 98vh;
}


/*Sidebar
.Sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;}
.Sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;}
.Sidebar a:hover {
  color: gainsboro;}
.Sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;}*/



/*FOOTER*/
  .footer{
    background-color: #808080;
    width: 100%;
    color: white;
    position:absolute;
    left:0;
    right:0;
    padding: 10px;
    text-align: center;}
